.banner {
  padding: 2rem;
}

.banner__content {
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFubmVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-position: center;
  object-fit: contain;
  height: 448px;
  color: white;
  text-align: center;
  border-radius: 1rem;
}

.banner__inner {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 720px;
  gap: 1rem;
  padding: 1rem;
}

.banner__right {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

.banner__item--1 {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.banner__title {
  font-size: var(--h2);
}

.banner__dates {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.banner__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  color: black;
}

.banner__gridItem {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.iconCon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  padding: 0.1rem;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
  font-size: 1.5rem;
}

/* Styles for smaller screens (max-width: 600px) */
@media (max-width: 785px) {
  .banner__content {
    height: auto; /* adjust the height to fit the content */
  }

  .banner__inner {
    flex-flow: column-reverse wrap; /* stack the elements vertically */
    max-width: none; /* remove the max-width constraint */
  }

  .banner__left {
    flex: 1 1 auto; /* allow the right section to grow and shrink */
    width: 70%;
  }

  .banner__right {
    flex: 1 1 auto; /* allow the right section to grow and shrink */
    width: 70%;
    padding: 1rem;
  }

  .banner__item--1 {
    flex: none; /* remove the flex properties */
  }

  .banner__grid {
    grid-template-columns: repeat(1, 1fr); /* use one column instead of two */
    gap: 0.5rem; /* reduce the gap */
    padding: 0.5rem; /* reduce the padding */
    box-shadow: none; /* remove the shadow */
  }

  .banner__title {
    font-size: var(--h3); /* reduce the font size */
  }

  .banner__dates {
    flex-flow: column wrap; /* stack the dates vertically */
    gap: 0.5rem; /* reduce the gap */
  }

  .iconCon {
    width: 2rem; /* reduce the icon container width */
    height: 2rem; /* reduce the icon container height */
    padding: 0.05rem; /* reduce the padding */
  }

  .icon {
    font-size: 1rem; /* reduce the icon size */
  }
}
