<div class="banner container-xxl">
    <div class="banner__content">
       <div class="banner__right">
        <div class="banner__item banner__item--1"
        >
            <h3 class="banner__title"> Middlesborough</h3>
            <div>
                <p class="banner__text">Monday, May 23</p>
                <p class="banner__text">Updated As Of 2:45pm</p>
            </div>
        </div>
        <div class="banner__item banner__item--2">
            <div class="banner__grid">
                <div class="banner__gridItem banner__gridItem--1">
                    <p>
                    </p>
                    <p>
                        Wind 3km/h3
                    </p>
                </div>
                <div class="banner__gridItem banner__gridItem--2">
                    <p></p>
                    <p>Wind 3km/h</p>
                </div>
                <div class="banner__gridItem banner__gridItem--3">
                    <p></p>x
                    <p>Rain 78%</p>
                </div>
                <div class="banner__gridItem banner__gridItem--4">
                    <p></p>
                    <p>Rain 78%</p>
                </div>
            </div>
        </div>
       </div>
       <div class="banner__left"></div>
    </div>
</div>