<div class="weatherCard @customClass">
    <div class="weatherCard__weather">
        <p class="weatherCard__dateTime">@dtTxt</p>
        <p class="weatherCard__weatherImg">
            <img src="@($"http://openweathermap.org/img/w/{weather?.icon}.png")" />
        </p>
        <p class="weatherCard__weatherTemp">@main?.temp<sup>o<sub>F</sub></sup></p>
        <p class="weatherCard__weatherDesc">@weather?.description</p>
    </div>
</div>

@code {
    // Properties to bind to the component parameters
    [Parameter]
    public String customClass { get; set; } = "";
     [Parameter]
    public Weather? weather {get; set;}

    [Parameter]
    public Main? main {get; set;}
    [Parameter]
    public String? dtTxt {get; set;}
}