<div class="weatherCard">
    <p class="weatherCard__dateTime">25<sup>th</sup> May 2020, 12:00</p>
    <div class="weatherCard__weather">
        <p class="weatherCard__weatherImg">
            <img src="/cloud.png" alt="cloud">
        </p>
        <p class="weatherCard__weatherTemp">23<sup>o<sub>C</sub></sup></p>
        <p class="weatherCard__weatherDesc">Sunny</p>
    </div>
</div>