@inherits LayoutComponentBase

<PageTitle>Weather App</PageTitle>

<div class="page">
    <div class="page__header container">
        <NavMenu />
    </div>


    <div class="page__innner">
        @Body
    </div>
</div>
