<div class="header">
    <nav class="nav">
        <div class="nav__brand">EverFlow</div>
        <form class="nav__form">
            <input type="search" class="nav__search" placeholder="Search">
            <button type="submit" class="nav__searchbtn"><i class="fas fa-search"></i></button>
        </form>
    </nav>
</div>