<nav class="nav">
        <header class="nav__brand">
            <a href="#">Everflow Weather Forecast Dashboard</a></header>
        <form class="nav__form">
            <input type="search" class="nav__search" placeholder="Search">
            <button type="submit" class="nav__searchbtn"><i class="bi bi-search"></i></button>
        </form>
</nav>

@code {}